<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CCU7._0Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <CCU7._0Test.Properties.Settings>
            <setting name="LocalIP" serializeAs="String">
                <value>192.168.0.100</value>
            </setting>
            <setting name="LocalPort" serializeAs="String">
                <value>20001</value>
            </setting>
            <setting name="RemoteIP" serializeAs="String">
                <value>192.168.0.10</value>
            </setting>
            <setting name="RemotePort" serializeAs="String">
                <value>10008</value>
            </setting>
            <setting name="uart1Mode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="uart1SendInt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="uart1SendCnt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="uart1MsgForm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="uart1SendMsg" serializeAs="String">
                <value>This is a uart[1] test message used to test the stability of communication.</value>
            </setting>
            <setting name="uart2Mode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="uart2SendInt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="uart2SendCnt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="uart2MsgForm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="uart2SendMsg" serializeAs="String">
                <value>This is a uart[2] test message used to test the stability of communication.</value>
            </setting>
            <setting name="uart3Mode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="uart3SendInt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="uart3SendCnt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="uart3MsgForm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="uart3SendMsg" serializeAs="String">
                <value>This is a uart[3] test message used to test the stability of communication.</value>
            </setting>
            <setting name="uart4Mode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="uart4SendInt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="uart4SendCnt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="uart4MsgForm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="uart4SendMsg" serializeAs="String">
                <value>This is a uart[4] test message used to test the stability of communication.</value>
            </setting>
            <setting name="uart5Mode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="uart5SendInt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="uart5SendCnt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="uart5MsgForm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="uart5SendMsg" serializeAs="String">
                <value>This is a uart[5] test message used to test the stability of communication.</value>
            </setting>
            <setting name="uart6Mode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="uart6SendInt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="uart6SendCnt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="uart6MsgForm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="uart6SendMsg" serializeAs="String">
                <value>This is a uart[6] test message used to test the stability of communication.</value>
            </setting>
            <setting name="uart7Mode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="uart7SendInt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="uart7SendCnt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="uart7MsgForm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="uart7SendMsg" serializeAs="String">
                <value>This is a uart[7] test message used to test the stability of communication.</value>
            </setting>
            <setting name="uart8Mode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="uart8SendInt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="uart8SendCnt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="uart8MsgForm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="uart8SendMsg" serializeAs="String">
                <value>This is a uart[8] test message used to test the stability of communication.</value>
            </setting>
            <setting name="can1Mode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="can1FMask" serializeAs="String">
                <value>000000FF</value>
            </setting>
            <setting name="can1FID" serializeAs="String">
                <value>00000001</value>
            </setting>
            <setting name="can1SendInt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="can1SendCnt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="can1CanID" serializeAs="String">
                <value>00000001</value>
            </setting>
            <setting name="can1SendMsg" serializeAs="String">
                <value>0100000012345678</value>
            </setting>
            <setting name="can2Mode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="can2FMask" serializeAs="String">
                <value>000000FF</value>
            </setting>
            <setting name="can2FID" serializeAs="String">
                <value>00000002</value>
            </setting>
            <setting name="can2SendInt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="can2SendCnt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="can2CanID" serializeAs="String">
                <value>00000002</value>
            </setting>
            <setting name="can2SendMsg" serializeAs="String">
                <value>0200000012345678</value>
            </setting>
            <setting name="can3Mode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="can3FMask" serializeAs="String">
                <value>000000FF</value>
            </setting>
            <setting name="can3FID" serializeAs="String">
                <value>00000003</value>
            </setting>
            <setting name="can3SendInt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="can3SendCnt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="can3CanID" serializeAs="String">
                <value>00000003</value>
            </setting>
            <setting name="can3SendMsg" serializeAs="String">
                <value>0300000012345678</value>
            </setting>
            <setting name="can4Mode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="can4FMask" serializeAs="String">
                <value>000000FF</value>
            </setting>
            <setting name="can4FID" serializeAs="String">
                <value>00000004</value>
            </setting>
            <setting name="can4SendInt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="can4SendCnt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="can4CanID" serializeAs="String">
                <value>00000004</value>
            </setting>
            <setting name="can4SendMsg" serializeAs="String">
                <value>0400000012345678</value>
            </setting>
            <setting name="can5Mode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="can5FMask" serializeAs="String">
                <value>000000FF</value>
            </setting>
            <setting name="can5FID" serializeAs="String">
                <value>00000005</value>
            </setting>
            <setting name="can5SendInt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="can5SendCnt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="can5CanID" serializeAs="String">
                <value>00000005</value>
            </setting>
            <setting name="can5SendMsg" serializeAs="String">
                <value>0500000012345678</value>
            </setting>
            <setting name="ethTestPort" serializeAs="String">
                <value>30001</value>
            </setting>
            <setting name="eth1Mode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="eth1ThreadNums" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="eth1TestTime" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="eth2Mode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="eth2ThreadNums" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="eth2TestTime" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="eth3Mode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="eth3ThreadNums" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="eth3TestTime" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="uart1MsgFormType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="uart2MsgFormType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="uart3MsgFormType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="uart4MsgFormType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="uart5MsgFormType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="uart6MsgFormType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="uart7MsgFormType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="uart8MsgFormType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="can1Type" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="can2Type" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="can3Type" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="can4Type" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="can5Type" serializeAs="String">
                <value>0</value>
            </setting>
        </CCU7._0Test.Properties.Settings>
    </userSettings>
</configuration>